*{
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
 
}
body{
  font-size: 1rem;
}
:root{
  --primarydarkTheme:#121212;
  --secondarydarkTheme:#303030;
  --lightTheme:#fff;
  --redTheme:#e60000;
}
/* Theme mode css */
.light-mode .navbar{
  box-shadow:0 1px 10px 0 rgba(0,0,0,.1);
}
.dark-mode .navbar{
  box-shadow:0 1px 10px 0 rgba(0,0,0,.1);
  background-color: var(--secondarydarkTheme);
}
.dark-mode{
  background-color:var(--primarydarkTheme);
}
.light-mode .nav-link{
  color:var(--primarydarkTheme);
}
.dark-mode .nav-link{
  color:var(--lightTheme);
}

.btn,.btn.active, .btn.show, .btn:first-child:active, :not(.btn-check)+.btn:active {
  background-color:var(--redTheme);
  color:var(--lightTheme);
  border-color:var(--redTheme);
  transition:all 0.5s;
}
.btn:hover{
  background-color:#c90f0f;
  border-color: var(--redTheme);
}
.header{
  position:sticky;
  top:0;
  z-index:1000;
  background-color:var(--lightTheme);
}

.navbar .nav-link.active,
.navbar .nav-link:hover{
  color: var(--redTheme);
}
.navbar-brand,
.navbar-brand:hover,
.navbar-brand:focus{
  color: var(--redTheme);
  font-style: italic;
  font-weight: 900;
  font-size:25px;
}
.news_heading span:first-child{
  color: var(--redTheme);
  font-style: italic;
  font-weight: 900;
}
.news_heading{
  font-size:2rem;
}
.modeIco{
  width:28px;
  cursor: pointer;
}
.modeChangeAlert {
  position: absolute;
  left: -80px;
  right: auto;
  font-size: 10px;
  white-space: nowrap;
  top: 48px;
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, .1);
  padding: 13px;
  border-radius: 10px;
  color: #fff;
  font-weight: 700;
  background: var(--redTheme);
  opacity: 0;
  visibility: hidden;
  transform: scale(0);
  transition: 0.2s;
}
.modeIco:hover ~ .modeChangeAlert{
  opacity: 1;
  visibility:visible;
  transform: scale(1);
}
.newsItems{
  margin-bottom: 30px;
  -webkit-box-shadow: inset 0 4px 7px 1px #ffffff, inset 0 -5px 20px rgba(173, 186, 204, 0.25), 0 2px 6px rgba(0, 21, 64, 0.14), 0 10px 20px rgba(0, 21, 64, 0.05);
  -moz-box-shadow: inset 0 4px 7px 1px #ffffff, inset 0 -5px 20px rgba(173, 186, 204, 0.25), 0 2px 6px rgba(0, 21, 64, 0.14), 0 10px 20px rgba(0, 21, 64, 0.05);
  box-shadow: inset 0 4px 7px 1px #ffffff, inset 0 -5px 20px rgba(173, 186, 204, 0.25), 0 2px 6px rgba(0, 21, 64, 0.14), 0 10px 20px rgba(0, 21, 64, 0.05);
  overflow: hidden;
  border-radius: 15px;
  -webkit-transition: 0.4s all;
  -o-transition: 0.4s all;
  transition: 0.4s all;
}
.newsItems:hover{
  -webkit-box-shadow: inset 0 4px 7px 1px #ffffff, inset 0 -5px 20px rgba(173, 186, 204, 0.25), 0 0 20px rgba(0, 21, 64, 0.14), 0 0 40px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 4px 7px 1px #ffffff, inset 0 -5px 20px rgba(173, 186, 204, 0.25), 0 0 20px rgba(0, 21, 64, 0.14), 0 0 40px rgba(0, 0, 0, 0.2);
}
.newsItems .card-img-top{
  aspect-ratio: 16/9;
  object-fit: cover;
}
.prevBtn,.nextBtn{
  width:120px;
}
.categroyName{
  color:var(--redTheme)
}
.heading{
  font-weight:700;
}
.card_heading{
  font-size: 1.1rem;
  overflow: hidden;
  -webkit-box-orient: vertical;
 -webkit-line-clamp: 2;
 display: -webkit-box;
}
.newsItemsInner p{
  overflow: hidden;
  -webkit-box-orient: vertical;
 -webkit-line-clamp: 2;
 display: -webkit-box;
 height:48px;
}
.card_heading{
  font-style:italic;
}
.news-source-badge{
  font-weight:700;
}
.read_more{
  font-size:0.8rem;
}
.arrowR{
  width: 1.5rem;
  right: 0.9rem;
  top: 0.3rem;
  transition: 0.4s all;
  -webkit-transition: 0.4s all;
  -o-transition: 0.4s all;
}
.newsItems:hover .arrowR{
  transform: translateX(7px);
  -webkit-transform: translateX(7px);
}
.publicDate, .publicDate b{
  color: #353535;
  font-size:0.9rem;
  font-style:italic;
}
.arrowR path{
  stroke: var(--redTheme);
}

