*{
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.navbar{
  background-color:#002765;
}
.navbar-brand,.navbar-brand:hover{
  background-color: #fff;
  padding: 5px 10px;
  color: rgb(230 0 0);
  border-radius: 5px;
  font-style: italic;
  font-weight: 900;
}
.modeIco{
  width:35px;
}